.events-control {
    text-align: center;
   
    
    margin: 2rem auto;
    
    
  }
  .analyticscs{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    position: absolute;
    left: 620px;
    padding: 10px;
    border: 3px solid brown;
    font-weight: 200;
    top: 730px;
    border-radius: 7px;
    box-shadow: 0 2px 8px rgba(119, 28, 28, 0.596);
    height: 100px;
    
  }
  .analyticscr{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    position: absolute;
    left: 330px;
    top: 730px;
    padding: 10px;
    border: 3px solid brown;
    font-weight: 200;
    border-radius: 7px;
    box-shadow: 0 2px 8px rgba(119, 28, 28, 0.596);
  }
  .special{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    position: absolute;
    left: 150px;
    
    font-weight: 200;
    
  

  }
  .recentbookings{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color:#861919

}